.discover-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-right: 20px;
  }
  
  .discover-link:hover {
    color: gray;
    text-decoration: none;
  }
  
  .discover-link:active {
    color: purple;
    text-decoration: none;
  }
  
  .following-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-right: 20px;
  }
  
  .following-link:hover {
    color: gray;
    text-decoration: none;
  }
  
  .following-link:active {
    color: purple;
    text-decoration: none;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .links-container {
    display: flex;
    justify-content: center;
  }
  
  .Discography {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px; /* Space between items */
    padding: 20px;
  }
  
  .IndividualProfile {
    width: 200px;
    background-color: #3a3a3a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
  }
  
  .profile-image {
    width: 100%;
    height: auto;
    background-color: #d3d3d3;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .profile-name {
    font-size: 18px;
    margin-bottom: auto;
  }
  
  .profile-chat-icon {
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
  }
  