.discover-link {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-right: 20px;
}

.discover-link:hover {
  color: gray;
  text-decoration: none;
}

.discover-link:active {
  color: purple;
  text-decoration: none;
}

.following-link {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-right: 20px;
}

.following-link:hover {
  color: gray;
  text-decoration: none;
}

.following-link:active {
  color: purple;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.links-container {
  display: flex;
  justify-content: left;
  
}

.Discography {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px; /* Space between items */
  padding: 20px;
}

.IndividualProfile {
  width: 200px;
  background-color: #3a3a3a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  color: white;
  font-family: Arial, sans-serif;
  position: relative;
  text-decoration: none; /* No underline for links */
  transition: transform 0.2s;
}

.IndividualProfile:hover {
  transform: scale(1.05);
}

.profile-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
}
.profile-link:hover{
  color:gray;
  text-decoration:underline;
}

.profile-image {
  width: 100%;
  height: auto;
  background-color: #d3d3d3;
  border-radius: 10px;
  margin-bottom: 20px;
}

.profile-name {
  font-size: 18px;
  margin-bottom: auto;
}

.profile-name:hover {
  text-decoration: underline;
}

.profile-chat-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.profile-chat-icon:hover {
  text-decoration: underline;
}

.chat-bubble {
  width: 24px;
  height: 17px;
  background: white;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
	border-radius: .4em;
  font-size:10px;
  bottom: 15px;
  right: 5px;
}

.chat-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 0.813em solid transparent;
	border-top-color: white;
	border-bottom: 0;
	border-left: 0;
	margin-left: -0.3em;
	margin-bottom: -0.5em;
}

/* Align the search container to the right */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.input-search {
  height: 50px;
  width: 0;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, .5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus ~ .input-search,
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  visibility: visible;
  opacity: 1;
}
