.liked-songs-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #121212;
    color: white;
  }
  
  .banner {
    background: linear-gradient(90deg, #8A2BE2, #FF00FF);
    padding: 50px 20px;
    display: flex;
    align-items: center;
  }
  
  .banner-content {
    display: flex;
    align-items: center;
  }
  
  .banner-image {
    margin-right: 20px;
  }
  
  .banner-text h1 {
    margin: 0;
    font-size: 3em;
    color: white;
  }
  
  .banner-text p {
    margin: 5px 0 0;
    font-size: 1.5em;
    color: white;
  }
  
  .songs-list {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #333;
    padding: 10px;
  }
  
  .search-input {
    width: 100%;
    max-width: 300px;
    background-color: #282828;
    color: white;
  }
  
  .songs-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .songs-table .rs-table-cell {
    background-color: #121212;
    border-bottom: 1px solid #333;
    color: white;
  }
  
  .songs-table .rs-table-row .rs-table-cell {
    background: linear-gradient( #8A2BE2, #FF00FF);
  }
  
  .songs-table .rs-table-header-cell {
    background: linear-gradient( #8A2BE2, #FF00FF);
    color: white;
  }
  .table-cover-img {
    width: 35px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
  }
  .artist-name {
    cursor: pointer;
    color: #ffffff;
  }
  
  .artist-name:hover {
    color: #8A2BE2;
    text-decoration: underline;
  }
  
  .artist-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #282828;
    height: 100%;
  }
  
  .close-btn {
    align-self: flex-end;
    background: none;
    border: none;
    background: linear-gradient(90deg, #8A2BE2, #FF00FF);
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .artist-panel-content {
    display: flex;
    flex-direction: column; /* Change to column to stack the cards */
    justify-content: flex-start; /* Align items to the start of the container */
    align-items: center;
    width: 100%;
  }
  
  .panel-card {
    background: linear-gradient(90deg, #8A2BE2, #FF00FF);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    width: 90%;
  }
  
  .panel-cover-img {
    width: 100%;
    max-width: 250px; /* Adjust the size as needed */
    height: auto;
    margin-bottom: 20px;
  }
  
  .artist-img {
    width: 100%;
    max-width: 250px; /* Adjust the size as needed */
    height: auto;
    margin-bottom: 20px;
  }
  